.menu{
    /* margin-right: 10px; */
    background-color: #ff5f5f;
    /* padding: 10px; */
    border-radius: 3px;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.desktopMenu{
    align-items: center;
    justify-content: end;
    height: 30px;
}

.mobileMenu{
    margin-top: 5px;
    flex-direction: column;
    max-width: 100px;
    height: 180px;
    padding: 10px;
  /* hide and show the menu  css*/
    position: absolute;
    left: 10px;
    left: -100px;
    transition: left 1s ease;
}

.mobileMenuBtn{
    position: absolute;
    right: 10px;
    background-color: #fc8d8d;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    color: white;
}

.menu  span > a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    letter-spacing: 3px;
    color: white;
    /* margin-right: 2px; */
    /* background-color: red; */
}

.menu  span > a:hover {
    /* color:; */
    background-color: rgb(250, 145, 145);
    color: black;
    padding: 5px;
    margin-top: 20px;
    box-shadow: 5px 5px 20px black;
    border-radius: 10px;
}
